body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5d31fb07-f2d3-493b-944c-87474ebe4b19/d7uw2ic-32c6beb2-0367-470f-bd79-28be19c82e55.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVkMzFmYjA3LWYyZDMtNDkzYi05NDRjLTg3NDc0ZWJlNGIxOVwvZDd1dzJpYy0zMmM2YmViMi0wMzY3LTQ3MGYtYmQ3OS0yOGJlMTljODJlNTUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rMZQhD3RIaa6dNR6A_dM-Nggvc396DvXSyAY5evAhcA");
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1.3fr 2fr;
}

.searchContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin: 20px;
}

.searchBarContainer {
  background-color: white;
  height: 40px;
  width: 260px;
  border-radius: 9px;
  overflow: hidden;
  opacity: 0.8;
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
}

.searchContainer small {
  text-align: center;
  margin-top: 8px;
  color: rgb(255, 90, 90);
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}

.searchContainer button {
  border: none;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;

  height: 40px;
  width: 40px;
  font-size: 1.5rem;
}

.searchContainer input {
  font-family: "Spartan", sans-serif;
  border: none;
  height: 40px;
  font-size: 0.9rem;
  color: black;
}
.searchContainer input:focus-visible {
  outline: none;
}

.appTitleContainer {
  position: relative;
}

#appTitle {
  font-family: "Spartan", sans-serif;
  text-decoration: underline;
  position: absolute;
  bottom: 20px;
}

.mainContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  border-radius: 5px;

  height: 220px;
  width: 370px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 2fr;

  padding: 10px;
}

.appTitleContainer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#weatherDescription {
  font-size: 1rem;
  font-family: "Spartan", sans-serif;
  padding-top: 15px;
  padding-left: 1px;
}

#location {
  font-size: 1.7rem;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
}

.weatherContainer {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
}

.tempContainer {
  position: relative;
  border-right: 3px solid black;
  font-family: "Comic Neue", cursive;
  display: flex;
  justify-content: center;
  align-content: center;
}

#displayedTemp {
  font-size: 7rem;
  padding-right: 10px;
}

#fahrenSymbol {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  font-size: 1.5rem;
}

.secondaryWeatherInfoContainer {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding-left: 20px;
  padding-top: 20px;
}
